/******************************************************************
GENERAL
******************************************************************/
body {
    font-family: 'Raleway', sans-serif;
    background-color: #F5F5F5;
}
header {
    max-width: 100%;
    max-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

#section-wrapper {
    width: 100;
}

li {
    list-style: none;
}


/******************************************************************
HEADER
******************************************************************/
nav {
    max-height: 40px;
    padding: 5px 0 10px;
    margin-bottom: 10px;
}
nav ul {
    margin: -20px 2% 0 0;
    text-align: right;
}


nav h2 {
    color: #fff;
    left: 3em;
    height: inherit;
    text-align: left;
    font-size: 1.0em;
    width: 200px;
    padding: 0;
    margin: 20px 0 0 5%;
    transition: 1s;
}

    nav h2:hover {
        text-decoration: underline;
    }

nav ul li {
    color: #fff;
    margin-left: -5px;
    display:inline;
    padding: 1px 10px 1px 10px;
    font-weight: 700;
    font-size: 0.8em;
    transition: 0.8s;
}

    nav ul li:hover {
/*
        margin-left: -5px;
        display:inline;
        padding-left: 10px;
        background-color: black;
        padding: 70px 10px 12px 10px;
        border-radius: 10px;
        margin: 0;
*/
        color: orange;
/*        text-decoration: underline;*/
    }

#selected {
/*    background-color: black;*/
    padding: 70px 10px 12px 10px;
    border-radius: 20px;
    margin: 0;
    color: orange;
}

#reserve-nav {
    background-color: darkslateblue;
    padding: 70px 10px 12px 10px;
    border-radius: 20px;
    margin: 0;
    color: white;
}
    #reserve-nav:hover {
        text-decoration: underline;
    }

/******************************************************************
SECTION-1: BANNER
******************************************************************/
#banner-home {
    background-image: url(../img/photos/banner-background%20.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100%;
    height: 700px;
    text-align: center;
    margin-bottom: 30px;
}

#banner-about-us {
    background-image: url(../img/photos/banner-background%20.png);
/*    background-color: #000;*/
    background-position:bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    text-align: left;
    margin-bottom: 30px;
    background-size: auto;
}

.middle-baby {
    font-size: 3.5em;
    font-weight: normal;
    color: white;
    margin: 155px 0 0;
    font-family: Hind, sans-serif;
    font-weight: 300;
}

.banner-middletext {
    font-size: 3.6em;
    font-weight: normal;
    color: white;
    margin: 85px 20px 0;
    font-family: Hind, sans-serif;
    padding: 0;
    font-weight: 700;
    text-align: center;
}

.button {
    font-weight: 700;
    width: 15%;
    color: white;
    background-color: transparent;
    border: solid 3px #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 1.0em;
    padding: 10px 30px 10px;
    margin: 0 35% 0 40%;
    transition: 0.8s;
}

    .button:hover {
        border: solid 3px orange;
        color: orange;
        cursor: pointer;
/*        background-color: rgb(52, 88, 153);*/
    }


/******************************************************************
SECTION-1: ARTICLE
******************************************************************/

#article-home {
/*    margin-bottom: 30px;*/
}

.icon {
    height: 75px;
    width: 75px;
    padding: 5px;
    max-height: 100%;
    max-width: 100%;
}

#homepage-wrapper-bottom {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center
}

#homepage-wrapper-bottom li {
    float: left;
    width: 25%;
    margin: 0 4.0% 0;
    background-color: #fff;
    padding-top: 15px;
    border-radius: 4px;
    border: solid 1px #E4E4E4;
    margin-bottom: 30px;
    max-height: 100%;
    max-width: 100%;
}

#homepage-wrapper-bottom h4 {
    margin-top: 0px;
    padding: 10px;
}

#article-about-us {
    margin: 0;
}

.profile {
    width: 150px;
    padding: 0;
    text-align: center;
    margin: 0;
    font-weight: 700;
    float: left;
}


.profile-pic {
    border: solid 2px crimson;
    border-radius: 100%;
}

.profile-ul li{
    display: inline-block;
    float:left;

    margin: 0;
    max-width: 100%;
}
.comment {
    width: 85%;
}

.profile-ul li p{
    text-align:justify;
    padding: 0 10px 0;
    margin: 2% 5.0% 2%;

}

table, tr, td {
    padding: 0;
    margin: 0;
    width: 100px;
}
/******************************************************************
SECTION-2: ARTICLE-EVENTS
******************************************************************/
#article-event {
    padding: 30px 0 10px 0;
}

#article-event li {
    float: left;
    height: 300px;
    margin: 0 2px 0;
    padding: 0;
}

#main-event-holder {
    background-color: white;
/*
    width: 300px;
    height: 300px;
*/
    width: 30%;
    margin: 0;
    padding: 10px 10px 20px;
    border: solid 2px #E4E4E4;
}

.event-details {
    font-weight: normal;
    font-size: 0.789em;
    padding: 0;
    text-align: left;
}

.event-button {
    float:right;
    clear: both;
    font-size: 10px;
    padding: 5px;
    margin: 20px 0 0px;
    background-color: transparent;
    color: black;
    border: solid 2px #000;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 700;
}

    .event-button:hover {
        color: orange;
        border-color: orange;
    }

.event-title-main {
    float: right;
    font-weight: normal;
    width: auto;
    margin: 5% 0 0 10px;
    font-size: 0.8em;
    text-decoration: underline;
    font-weight: 700;
}

.event-image {
    width: 100%;
    height: 70%;
    max-height: 100%;
}


/******************************************************************
SECTION-3: TICKET-DETAILS
******************************************************************/

#registration-choose {
    max-height: 100%;
    height: 393px;
    width: 60%;
    margin: 0;
}

#ticket-details {
    width: 34%;
    height: auto;
}

#ticket-division-1 {
    height: 250px;
    margin: 0;
}

#ticket-division-2 {
    height: 90px;
    margin: 0;
}

#cancel {
    float: right;
    margin: 0 2.5% 0
}

#submit {
    float: right;
    margin: 0;
}

#register-detail {
    margin: 0 0 0 10px;
}

.special-list {
    border-radius: 5px;
    display: inline-block;
    float: left;
    background-color:white;
    margin: 0 2.5% 0 2.5%;
    border: solid 2px #E4E4E4;
}

/******************************************************************
SECTIONS with Profile and Paragraphs
******************************************************************/

.special-list-down {
    border-radius: 5px;
    float: left;
    background-color: white;
    margin: 0 2.5% 15px 2.5%;
    padding: 10px;
    border: solid 2px #E4E4E4;
    height: 100%;
    width: 90%;
    float:left;
}

/******************************************************************
SECTIONS TABLES
******************************************************************/

table {
    margin: 0 10% 0 ;
    width: 80%;
}

td {
    padding: 10px;
}

.short-textbox {
    padding: 5px;
    border: solid 1px #aaa;
    border-radius: 5px;
    margin: 0;
}

.long-textbox {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #aaa;
    margin: 0;
}

#seat-plan {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    width: 300px;
    height: 400px;
    margin: -60px 0 0 25%;
    padding: 0;
    float: left;
}

.special-button {
    clear: both;
    margin-left: 100px;

}
