@media screen and  (min-width: 480px) {
/*
    #main-event-holder {
    margin-bottom: auto;
    background-color: black;
    }
*/
}

@media screen and (max-width: 660px) {
/*
    #main-event-holder {
    margin-bottom: auto;
    background-color: black;
    }
*/
}
